In [1]:
import yfinance as yf
import pandas as pd
import csv
import datetime as dt
from datetime import datetime # To get the current date and time
from datetime import date, timedelta
import csv
import time
import os # To check if the file exists

In [2]:
assets = pd.read_csv("./docs/M6_Universe.csv")

In [3]:
symbols_list = list(assets["symbol"])

In [5]:
print(symbols_list)

['ABBV', 'ACN', 'AEP', 'AIZ', 'ALLE', 'AMAT', 'AMP', 'AMZN', 'AVB', 'AVY', 'AXP', 'BDX', 'BF-B', 'BMY', 'BR', 'CARR', 'CDW', 'CE', 'CHTR', 'CNC', 'CNP', 'COP', 'CTAS', 'CZR', 'DG', 'DPZ', 'DRE', 'DXC', 'FB', 'FTV', 'GOOG', 'GPC', 'HIG', 'HST', 'JPM', 'KR', 'OGN', 'PG', 'PPL', 'PRU', 'PYPL', 'RE', 'ROL', 'ROST', 'UNH', 'URI', 'V', 'VRSK', 'WRK', 'XOM', 'IVV', 'IWM', 'EWU', 'EWG', 'EWL', 'EWQ', 'IEUS', 'EWJ', 'EWT', 'MCHI', 'INDA', 'EWY', 'EWA', 'EWH', 'EWZ', 'EWC', 'IEMG', 'LQD', 'HYG', 'SHY', 'IEF', 'TLT', 'SEGA.L', 'IEAA.L', 'HIGH.L', 'JPEA.L', 'IAU', 'SLV', 'GSG', 'REET', 'ICLN', 'IXN', 'IGF', 'IUVL.L', 'IUMO.L', 'SPMV.L', 'IEVL.L', 'IEFM.L', 'MVEU.L', 'XLK', 'XLF', 'XLV', 'XLE', 'XLY', 'XLI', 'XLC', 'XLU', 'XLP', 'XLB', 'VXX']

In [40]:
def get_OHLC_data(tickers, start_date = None, end_date = None) :
    '''
    This function gets daily OHLC data from Yahoo Finance API for the provided number of days. 
    In case days is not provided then data is pulled for maximum number of days

    Input Parameters: 
    tickers: List of tickers for which data needs to be extracted
    Start Date: Date from which data needs to be pulled
    End Date: Date until which data needs to be pulled
    If start and end date is null then data for maximum number of days is pulled

    Returns: Dataframe of the extracted data
    '''
    final_OHLC_df = pd.DataFrame() # Declare the final empty dataframe
    cpt=1
    for ticker in tickers: # For each stock symbol in the list of symbols
        print(ticker,float(cpt)/len(tickers)*100,"%")
        OHLC_data = pd.DataFrame() # Declare intermediate data frame

        yf_ticker_obj = yf.Ticker(ticker) # Initiate object to get the data from API

        # If start date and end date is provided then pull data for those days
        if(start_date != None and end_date != None):
            OHLC_data = yf_ticker_obj.history(start = start_date, end = end_date, interval = "1d", auto_adjust = True)
            #print(OHLC_data.columns)
            

        else: # Pull data for all the available days
            OHLC_data = yf_ticker_obj.history(period="max", interval = "1d", auto_adjust = True)
            #print(OHLC_data)
            # Note: In the above period = ‘max’ as we are pulling data for maximum number of days.
            # interval = ‘1d’ as per pulling daily data for Open, High, Low, Close and Volume
            # auto_adjust = ‘True’ as we are adjusting data for Dividends and Splits

        OHLC_data.insert(0, "Symbol", ticker) # Adding this data to dataframe
        # Delete split and dividend columns as this is not required.

        OHLC_data = OHLC_data.drop(["Dividends","Stock Splits"], axis=1, errors="ignore")

        # Apppending this data to final dataframe
        final_OHLC_df = final_OHLC_df.append(OHLC_data)
        
        cpt+=1
        time.sleep(.5)
        
        

    final_OHLC_df.reset_index(inplace=True) # Re-setting the index

    # Setting index to symbol and date
    final_OHLC_df.set_index(["Date", "Symbol"], inplace=True)
    return final_OHLC_df

In [41]:
df_ohlc = get_OHLC_data(symbols_list,start_date="1980-01-01",end_date="2022-02-18")

ABBV 1.0 %
ACN 2.0 %
AEP 3.0 %
AIZ 4.0 %
ALLE 5.0 %
AMAT 6.0 %
AMP 7.000000000000001 %
AMZN 8.0 %
AVB 9.0 %
AVY 10.0 %
AXP 11.0 %
BDX 12.0 %
BF-B 13.0 %
BMY 14.000000000000002 %
BR 15.0 %
CARR 16.0 %
CDW 17.0 %
CE 18.0 %
CHTR 19.0 %
CNC 20.0 %
CNP 21.0 %
COP 22.0 %
CTAS 23.0 %
CZR 24.0 %
DG 25.0 %
DPZ 26.0 %
DRE 27.0 %
DXC 28.000000000000004 %
FB 28.999999999999996 %
FTV 30.0 %
GOOG 31.0 %
GPC 32.0 %
HIG 33.0 %
HST 34.0 %
JPM 35.0 %
KR 36.0 %
OGN 37.0 %
PG 38.0 %
PPL 39.0 %
PRU 40.0 %
PYPL 41.0 %
RE 42.0 %
ROL 43.0 %
ROST 44.0 %
UNH 45.0 %
URI 46.0 %
V 47.0 %
VRSK 48.0 %
WRK 49.0 %
XOM 50.0 %
IVV 51.0 %
IWM 52.0 %
EWU 53.0 %
EWG 54.0 %
EWL 55.00000000000001 %
EWQ 56.00000000000001 %
IEUS 56.99999999999999 %
EWJ 57.99999999999999 %
EWT 59.0 %
MCHI 60.0 %
INDA 61.0 %
EWY 62.0 %
EWA 63.0 %
EWH 64.0 %
EWZ 65.0 %
EWC 66.0 %
IEMG 67.0 %
LQD 68.0 %
HYG 69.0 %
SHY 70.0 %
IEF 71.0 %
TLT 72.0 %
SEGA.L 73.0 %
IEAA.L 74.0 %
HIGH.L 75.0 %
JPEA.L 76.0 %
IAU 77.0 %
SLV 78.0 %
GSG 79.0 %
REET 80.0 %
ICLN 81.0 %
IXN 82.0 %
IGF 83.0 %
IUVL.L 84.0 %
IUMO.L 85.0 %
SPMV.L 86.0 %
IEVL.L 87.0 %
IEFM.L 88.0 %
MVEU.L 89.0 %
XLK 90.0 %
XLF 91.0 %
XLV 92.0 %
XLE 93.0 %
XLY 94.0 %
XLI 95.0 %
XLC 96.0 %
XLU 97.0 %
XLP 98.0 %
XLB 99.0 %
VXX 100.0 %

In [42]:
print(df_ohlc)

                        Open       High        Low      Close     Volume
Date       Symbol
2013-01-02 ABBV    23.848844  24.176665  23.288819  23.985435   13767900
2013-01-03 ABBV    23.903484  23.903484  23.329800  23.787382   16739300
2013-01-04 ABBV    23.643949  23.828348  23.391256  23.486870   21372100
2013-01-07 ABBV    23.322972  24.210815  23.322972  23.534687   17897100
2013-01-08 ABBV    23.418585  23.657618  22.783435  23.022469   17863300
...                      ...        ...        ...        ...        ...
2022-02-11 VXX     20.469999  23.870001  20.295000  23.240000  116830300
2022-02-14 VXX     23.309999  24.799999  23.010000  23.309999  102120800
2022-02-15 VXX     21.680000  22.219999  21.330000  21.389999   55678200
2022-02-16 VXX     21.700001  22.139999  20.459999  20.530001   57347600
2022-02-17 VXX     21.709999  23.090000  21.620001  22.959999   66985600

[542270 rows x 5 columns]

In [43]:
df_ohlc.to_csv("ohlcv_m6.csv")

In [65]:
df_ohlc_2 = df_ohlc.reset_index(level=['Date', 'Symbol'])
print(df_ohlc_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542270 entries, 0 to 542269
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    542270 non-null  datetime64[ns]
 1   Symbol  542270 non-null  object
 2   Open    542270 non-null  float64
 3   High    542270 non-null  float64
 4   Low     542270 non-null  float64
 5   Close   542270 non-null  float64
 6   Volume  542270 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 29.0+ MB
None

In [54]:
# Extract only mondays values
from datetime import date

In [59]:
date_time_obj = datetime.strptime("2021-09-06", '%Y-%m-%d')
print(date_time_obj.weekday())

0

In [66]:
jours = df_ohlc_2["Date"].apply(lambda x:x.weekday())#datetime.strptime(x, '%Y-%m-%d'))

In [68]:
df_ohlc_2["Jours"] = jours

In [69]:
print(df_ohlc_2)

             Date Symbol       Open       High        Low      Close  \
0      2013-01-02   ABBV  23.848844  24.176665  23.288819  23.985435
1      2013-01-03   ABBV  23.903484  23.903484  23.329800  23.787382
2      2013-01-04   ABBV  23.643949  23.828348  23.391256  23.486870
3      2013-01-07   ABBV  23.322972  24.210815  23.322972  23.534687
4      2013-01-08   ABBV  23.418585  23.657618  22.783435  23.022469
...           ...    ...        ...        ...        ...        ...
542265 2022-02-11    VXX  20.469999  23.870001  20.295000  23.240000
542266 2022-02-14    VXX  23.309999  24.799999  23.010000  23.309999
542267 2022-02-15    VXX  21.680000  22.219999  21.330000  21.389999
542268 2022-02-16    VXX  21.700001  22.139999  20.459999  20.530001
542269 2022-02-17    VXX  21.709999  23.090000  21.620001  22.959999

           Volume  Jours
0        13767900      2
1        16739300      3
2        21372100      4
3        17897100      0
4        17863300      1
...           ...    ...
542265  116830300      4
542266  102120800      0
542267   55678200      1
542268   57347600      2
542269   66985600      3

[542270 rows x 8 columns]

In [71]:
df_ohlc_lundis = df_ohlc_2[df_ohlc_2["Jours"]==0]

In [72]:
print(df_ohlc_lundis)

             Date Symbol       Open       High        Low      Close  \
3      2013-01-07   ABBV  23.322972  24.210815  23.322972  23.534687
8      2013-01-14   ABBV  23.503874  23.669736  23.358746  23.559162
17     2013-01-28   ABBV  26.019435  26.171473  25.369811  25.494207
22     2013-02-04   ABBV  25.321430  25.777547  25.259232  25.763725
27     2013-02-11   ABBV  24.968977  25.003531  24.706363  24.775471
...           ...    ...        ...        ...        ...        ...
542242 2022-01-10    VXX  19.540001  20.605000  18.410000  18.469999
542251 2022-01-24    VXX  25.010000  27.840000  23.271000  23.719999
542256 2022-01-31    VXX  23.209999  23.400000  21.410000  21.410000
542261 2022-02-07    VXX  20.500000  20.740000  19.969999  20.420000
542266 2022-02-14    VXX  23.309999  24.799999  23.010000  23.309999

           Volume  Jours
3        17897100      0
8        11584900      0
17        7140100      0
22        6348000      0
27        6032100      0
...           ...    ...
542242   92378700      0
542251  186572800      0
542256   62965600      0
542261   44798100      0
542266  102120800      0

[102285 rows x 8 columns]

In [73]:
print(df_ohlc_2)

             Date Symbol       Open       High        Low      Close  \
0      2013-01-02   ABBV  23.848844  24.176665  23.288819  23.985435
1      2013-01-03   ABBV  23.903484  23.903484  23.329800  23.787382
2      2013-01-04   ABBV  23.643949  23.828348  23.391256  23.486870
3      2013-01-07   ABBV  23.322972  24.210815  23.322972  23.534687
4      2013-01-08   ABBV  23.418585  23.657618  22.783435  23.022469
...           ...    ...        ...        ...        ...        ...
542265 2022-02-11    VXX  20.469999  23.870001  20.295000  23.240000
542266 2022-02-14    VXX  23.309999  24.799999  23.010000  23.309999
542267 2022-02-15    VXX  21.680000  22.219999  21.330000  21.389999
542268 2022-02-16    VXX  21.700001  22.139999  20.459999  20.530001
542269 2022-02-17    VXX  21.709999  23.090000  21.620001  22.959999

           Volume  Jours
0        13767900      2
1        16739300      3
2        21372100      4
3        17897100      0
4        17863300      1
...           ...    ...
542265  116830300      4
542266  102120800      0
542267   55678200      1
542268   57347600      2
542269   66985600      3

[542270 rows x 8 columns]

In [74]:
df_ohlc_lundis = df_ohlc_lundis.drop(columns=['Jours'])

In [75]:
print(df_ohlc_lundis)

             Date Symbol       Open       High        Low      Close  \
3      2013-01-07   ABBV  23.322972  24.210815  23.322972  23.534687
8      2013-01-14   ABBV  23.503874  23.669736  23.358746  23.559162
17     2013-01-28   ABBV  26.019435  26.171473  25.369811  25.494207
22     2013-02-04   ABBV  25.321430  25.777547  25.259232  25.763725
27     2013-02-11   ABBV  24.968977  25.003531  24.706363  24.775471
...           ...    ...        ...        ...        ...        ...
542242 2022-01-10    VXX  19.540001  20.605000  18.410000  18.469999
542251 2022-01-24    VXX  25.010000  27.840000  23.271000  23.719999
542256 2022-01-31    VXX  23.209999  23.400000  21.410000  21.410000
542261 2022-02-07    VXX  20.500000  20.740000  19.969999  20.420000
542266 2022-02-14    VXX  23.309999  24.799999  23.010000  23.309999

           Volume
3        17897100
8        11584900
17        7140100
22        6348000
27        6032100
...           ...
542242   92378700
542251  186572800
542256   62965600
542261   44798100
542266  102120800

[102285 rows x 7 columns]

In [76]:
df_ohlc_lundis.to_csv("ohlcv_lundis_m6.csv")